@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color:black;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 5.9% 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.carousel {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

@media screen and (min-width: 48rem) {
  .carousel {
      display: flex;
      align-items: center;
  }
}

.carousel-content span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

.carousel-content h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-size: 4rem;
  line-height: 1.1;
  background-color: #00a4aa;
  background-image: linear-gradient(45deg, #00a4aa, #000);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-content hr {
  display: block;
  background: #00a4aa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

.carousel-content p {
  line-height: 1.6;
}

.slider-btn {
  display: inline-block;
  color: #717171;
  background: #fff;
  padding: 0.625rem 1.875rem;
  margin-top: 2.125rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #c2c2c2;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

.slider-btn:hover {
  border: 0.125rem solid #00a4aa;
  color: #00a4aa;
}


.myswiper {
  width: 100%;
  padding-top: 3.125rem;
}

.myswiper-slider {
  width: 18.75rem;
  height: 28.125rem;
  background-size: cover;
  background-position: center;
  
}

.myswiper-slider div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  
  height: 100%;
}

.swiper-slide-active div a {
  align-self: flex-start;
}

.myswiper-slider h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.myswiper-slider p {
  color: #dadada;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
}

.myswiper-slider a {
  margin: 1.25rem 1.5rem 3.5rem;
}

.myswiper-slider a:hover {
  color: #00a4aa;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

/* .hero-slide {
  @apply 
      
      md:h-[36rem] 
      bg-no-repeat bg-cover relative bg-center
      sm:h-[33rem]
      h-[26rem]
      before:content-[''] before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-[0] 
      before:bg-gradient-to-b from-black via-black/5 to-black/80;
}


.hero-slide .slide-content{
    @apply absolute bottom-12 left-6 md:left-0 lg:left-8 z-0;
}

.hero-slide .banner-btn{
    @apply flex items-center justify-center w-[140px] sm:w-[160px] py-2 border border-solid  text-sm rounded-full gap-2  font-light transition-all duration-300 ease-in;
} */



.card {
  position: relative;
  
  background: #000;
  border-radius: 4px;
  overflow: hidden;
  
}

.poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.poster::before {
  content: '';
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: .3s;
}

.card:hover .poster::before {
  bottom: 0;
}

.poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.card:hover .poster img {
  transform: scale(1.1);
}

.details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 9px;
  background: #000a;
  backdrop-filter: blur(16px) saturate(120%);
  transition: .3s;
  color: #fff;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h1,
.details h2 {
  font-weight: 700;
}

.details h1 {
  font-size: .9em;
  margin-bottom: 6px;
}

.details h2 {
  font-weight: 400;
  font-size: .8em;
  margin-bottom: 10px;
  opacity: .6;
}

.details .rating {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  gap: .25em;
}

.details .rating i {
  color: #e3c414;
}

.details .rating span {
  margin-left: 0.25em;
}

 .tags {
  display: flex;
  gap: .4emm;
  margin-bottom: .8em;
  margin-top:.8em;
  font-size: .8em;
}

.tags span {
  padding: 2px 10px;
  color: #fff;
  border: 2px solid rgba(255 255 255 / 0.7);
  border-radius: 2px;
  border-radius: 25px;
}

.details .desc {
  color: #fff;
  opacity: .8;
  line-height: 1.5;
  margin-bottom: 1em;
}

.details .cast h3 {
  margin-bottom: .4em;
}

.details .cast ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: 100%;
}

.details .cast ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  overflow: hidden;
  border: 1.5px solid #fff;
}

.details .cast ul li img {
  width: 100%;
  height: 100%;
}

.inside-heropage{
  line-height:2;
}
.inside-heropage h1{
  font-size: 40px;
}
.inside-heropage p{
  font-size: 17px;
}
